/* home */

.active > g > path[id="Rectangle 1"] {
    stroke: var(--main-white);
}

.active > g > path[id="Vector 3"]  {
    stroke: var(--main-white);
}

/* search */
.active > g > circle {
    stroke: var(--main-white);
}

.active > g >  path[id="Ellipse 66"]  {
    stroke: var(--main-white);
}

.active > g >  path[id="Vector 109"]  {
    stroke: var(--main-white);
}

/* heartbeat */
.active > g[id="Outline/Status/Heartbeat"] > g[id="Icon"] > path {
    fill: var(--main-white)
}

/* user */
.active > g[id="Outline/Communication/User"] > g[id="Icon"] > path {
    fill: var(--main-white)
}

.active > g[id="isFav"] > g[id="isFav"] > path {
    fill: var(--main-orange)
}

