*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    margin: 0;

}

:root {
  --main-blue: #0500FF;
  --main-orange: #FF7A00;
  --main-white: #FFF;
  --typho-grey-1: #2D2D2D;
  --typho-grey-2: #4D4D4D;
  --typho-black-1: #111;
}

#root {
  height: 100%;
}
