@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    margin: 0;
    font-family: 'Spoqa Han Sans Neo';
}

:root {
  --main-blue: #0500FF;
  --main-orange: #FF7A00;
  --main-white: #FFF;
  --typho-grey-1: #2D2D2D;
  --typho-grey-2: #4D4D4D;
  --typho-black-1: #111;
  --main-typho-grey-1: #3B3F3C;
  --main-grey-1: #4C504E;
}

#root {
  height: 100%;
}
